<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <ul class="list-group">
        <li
          class="list-group-item d-flex p-2 justify-content-between align-items-center border-0"
          *ngFor="let tel of tels"
        >
          <div
            class="border border-secondary-subtle px-2 py-1 rounded-1 col-11"
          >
            <span class="me-2"
              ><img src="assets/phone.svg" width="15" height="15"
            /></span>
            <label>
              +52 ({{ tel.slice(0, 3) }}) {{ tel.slice(3, 6) }}
              {{ tel.slice(6, 10) }}</label
            >
          </div>
          <div class="dropend">
            <button
              class="btn btn-secondary dropdown-toggle text-black mx-2 px-3 py-1 opacity-50"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              :
            </button>
            <ul class="dropdown-menu">
              <li (click)="onAddUpdate(tel)">
                <a class="dropdown-item" href="#" (click)="open(updateTelModal)"
                  ><img
                    class="me-2"
                    src="assets/edit.svg"
                    width="18"
                    height="18"
                  />Editar</a
                >
              </li>
              <li (click)="onAddDelete(tel)">
                <a class="dropdown-item" href="#" (click)="open(deleteTelModal)"
                  ><img
                    class="me-1"
                    src="assets/delete.svg"
                    width="22"
                    height="22"
                  />Eliminar</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <button
        class="btn btn-outline-secondary m-2 text-info"
        (click)="open(addTelModal)"
      >
        <img src="assets/plus.svg" class="text-info" width="18" height="18" />
        Agregar teléfono ({{ tels.length }}/3)
      </button>
    </div>
  </div>
</div>

<!-- Modal Add Tel-->
<ng-template #addTelModal let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">
      Añadir número telefónico
    </h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onAdd()" #myForm="ngForm">
      <div class="mb-3">
        <label for="inputTel" class="form-label">Teléfono</label>
        <input
          type="text"
          class="form-control"
          id="inputTel"
          name="Tel"
          placeholder="name@example.com"
          [(ngModel)]="newTel"
        />
      </div>
      <div class="modal-footer d-flex justify-content-center px-0">
        <button
          type="button"
          class="btn btn-outline-secondary flex-grow-1"
          (click)="modal.close('Save click')"
        >
          Cancelar
        </button>
        <button type="submit" class="btn btn-info flex-grow-1">Guardar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modal Delete Tel-->
<ng-template #deleteTelModal let-modal>
  <div class="modal-header">
    <img class="me-1" src="assets/delete.svg" width="24" height="24" />
    <h1 class="modal-title fs-5" id="exampleModalLabel">
      Eliminar número telefónico
    </h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <p>
        ¿Seguro que quieres eliminar este elemento? Esta acción no se puede
        deshacer.
      </p>
      <p>
        Eliminar:
        <span class="text-danger"
          >+52 ({{ deleteTel.slice(0, 3) }}) {{ deleteTel.slice(3, 6) }}
          {{ deleteTel.slice(6, 10) }}</span
        >
      </p>
    </div>
    <div class="modal-footer px-0">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="modal.close('Save click')"
      >
        Cancelar
      </button>
      <button type="button" (click)="onDelete()" class="btn btn-danger">
        Eliminar
      </button>
    </div>
  </div>
</ng-template>

<!-- Modal update Tel-->
<ng-template #updateTelModal let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">
      Actualizar número telefónico
    </h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onUpdate()" #myForm="ngForm">
      <div class="mb-3">
        <label for="inputTel" class="form-label">Teléfono</label>
        <input
          type="text"
          class="form-control"
          id="inputTel"
          name="Tel"
          placeholder="name@example.com"
          [(ngModel)]="newUpdateTel"
        />
      </div>
      <div class="modal-footer d-flex justify-content-center px-0">
        <button
          type="button"
          class="btn btn-outline-secondary flex-grow-1"
          (click)="modal.close('Save click')"
        >
          Cancelar
        </button>
        <button type="submit" class="btn btn-info flex-grow-1">Guardar</button>
      </div>
    </form>
  </div>
</ng-template>
